<!DOCTYPE html>
    <html>
        <head>
                <title>{{ page.title }}</title>
                <!-- link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
                <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">ACE</a></li>
                        <li><a href="/about">ANITA</a></li>
                        <li><a href="/about">AMBER</a></li>
                        <li><a href="/about">ExaVolt</a></li>
                        <li><a href="/about">Robotics</a></li>
                        <li><a href="/about">CanSat</a></li>
                </ul>
                </nav>
                <div class="container">

                {{ content }}

                </div><!-- /.container -->
                <footer>
                <ul>
                        <li><a href="https://github.com/liem2eng">github.com/liem2eng</a></li>
                        </ul>
                </footer>
            </body>
    </html>



