<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
    	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">CV</a></li>
            <li><a href="/">Blog</a></li>
        </ul>
        </nav>
        <div class="container">
        <div class="blurb">
        	
            {{ content }}

        </div><!-- /.container -->
        <footer>
        <ul>
        	<li><a href="mainto:thisemail@gmail.com">email</a></li>
        	<li><a href="https://github.com/liem2eng">github.com/liem2eng</a></li>
        </ul>
        </footer>
    </body>
</html>